.card-body {
    width: 75%;
}

@media screen and (max-width: 1199px) {
    .card-body {
        width: 90%;
    }
}

@media screen and (max-width: 575px) {
    .card-body {
        width: 100%;
    }
}