<div class="slider">
	<div class="slide-track">
		<div class="slide">
			<img src="/assets/img/brands/adata.jpg" alt="Adata" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/amd.jpg" alt="Amd" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/asrock.jpg" alt="Asrock" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/coolermaster.jpg" alt="Cooler Master" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/nvidia.jpg" alt="Nvidia" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/rog.jpg" alt="Republic of gamers" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/thermaltake.png" alt="Thermaltake" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/viewsonic.jpg" alt="viewsonic" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/wd.png" alt="Western Digital" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/zotac.jpg" alt="Zotac" />
		</div>
        <div class="slide">
			<img src="/assets/img/brands/adata.jpg" alt="Adata" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/amd.jpg" alt="Amd" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/asrock.jpg" alt="Asrock" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/coolermaster.jpg" alt="Cooler Master" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/nvidia.jpg" alt="Nvidia" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/rog.jpg" alt="Republic of gamers" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/thermaltake.png" alt="Thermaltake" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/viewsonic.jpg" alt="viewsonic" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/wd.png" alt="Western Digital" />
		</div>
		<div class="slide">
			<img src="/assets/img/brands/zotac.jpg" alt="Zotac" />
		</div>
	</div>
</div>