.active {
    font-weight: bold;
}

.auth-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-btn {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .auth-btn {
        padding: 8px;
    }

    .navbar-btn {
        margin-top: 20px;
    }
}

@media screen and (max-width:575px) {
    .auth-btn {
        flex-direction: column;
    }

    .login-btn {
        margin: 0 0 10px 0;
    }
}