<nav class="container-fluid navbar navbar-expand-lg navbar-light bg-light py-4">
    <header class="container px-0">
        <a class="navbar-brand brand" routerLink="/">AngularStore</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-center navbar-btn">
                <li>
                    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link px-2 link-dark"> Inicio</a>
                </li>
                <li>
                    <a routerLink="/productos" routerLinkActive="active" class="nav-link px-2 link-dark">Productos</a>
                </li>
                <li>
                    <a routerLink="/nuevo-producto" routerLinkActive="active" class="nav-link px-2 link-dark">Nuevo Producto</a>
                </li>
            </ul>

            <div *ngIf="user$ | async as user; else login">
                <div class="text-center auth-btn">
                    <div class="d-flex align-items-center justify-content-center mb-3 mb-sm-0">
                        <p class="m-0">{{ user.email }}</p>
                        <a routerLink="/carrito" class="text-decoration-none btn btn-outline-primary ms-3 mx-0 mx-sm-3"><i class="fa fa-shopping-cart"></i><span class="ms-2" *ngIf="countProducts >= 1">{{ countProducts }}</span></a>
                    </div>

                    <button routerLink="/ingresar" type="button" class="btn btn-outline-primary" (click)="logoutUser()">
                        Cerrar Sesión
                    </button>
                </div>
            </div>

            <ng-template #login>
                <div class="text-center auth-btn">
                    <button routerLink="/ingresar" type="button" class="btn btn-outline-primary login-btn">Iniciar Sesión</button>
                    <button routerLink="/registrarse" type="button" class="btn btn-primary register-btn">Registrarse</button>
                </div>
            </ng-template>
        </div>
    </header>
</nav>