.product-btn-container {
    display: flex;
    justify-content: space-around;
 }

.product-img {
    width: 100%;
    height: 11vw;
    object-fit: contain;
}

@media screen and (max-width: 1199px) {
    .product-btn-container {
       flex-direction: column;
    }

    .product-btn {
        margin: 6px 0;
    }
}

@media screen and (max-width: 991px) {
    .product-btn-container {
       flex-direction: row;
    }

    .product-btn {
        margin: 6px 0;
    }

    .product-img {
        height: 30vw;
    }
}

@media screen and (max-width: 340px) {
    .product-btn-container {
       flex-direction: column;
    }
}