<section class="d-flex justify-content-around principal">
    <div class="text-md-center">
        <img src="/assets/img/k512_shiva_rgb.png" alt="" class="img-fluid">
    </div>

    <div class="col datos">
        <app-precio-producto></app-precio-producto>
    </div>
</section>

<section class="descripcion">
    <p>Todas las prestaciones que hacen la diferencia, en un teclado de membrana cómodo y silencioso a la hora de jugar o trabajar.</p>

    <p class="titulo-descripcion"> PENSADO CON TODOS LOS DETALLES</p>
        <p>Construido en plástico ABS resistente, sus switches de membrana están encapsulados y sus keycaps son de inyección de doble disparo lo que les da una durabilidad excelente, sin olvidarnos del cable mallado resistente con ficha bañada para mejorar la transmisión.</p>

    <p class="titulo-descripcion">CONTROLES DEDICADOS</p>
        <p>Los botones multimedia dedicados te permitirán reproducir, pausar y omitir contenido multimedia directamente desde el teclado, también cuentas con controles de volumen directo para que tu juego sea fluido y sin interrupciones.</p>

    <p class="titulo-descripcion">TECLAS MACROS ON-THE-FLY</p>
        <p>Provisto de teclas macros dedicadas, estas te permiten personalizarlas directamente desde el teclado sin necesidad de recurrir al software, de modo simple y rápido.</p>

    <p class="titulo-descripcion">REPOSAMUÑECA DESMONTABLE</p>
        <p>Sumando a sus completas características, integramos un reposamuñeca magnético fácil de desmontar, construido en plástico texturizado y resistente, que te dará la comodidad que necesitas en el uso intenso.</p>

    <p class="titulo-descripcion">ILUMINACIÓN RGB</p>
        <p>La retroiluminación RGB dinámica permite un detalle estético que siempre caracteriza a los periféricos gamer. El teclado viene con 7 modos de iluminación preestablecidos y control del brillo, que varía desde muy brillante hasta completamente apagado si no necesitas la iluminación.</p>

    <p class="titulo-descripcion">SOFTWARE DEDICADO</p>
        <p>El software nos permitirá configurar las funciones de los botones y crear macros, como así también configurar la iluminación con sus distintos modos.</p>
</section>
