<section class="d-flex justify-content-around principal my-5">
    <div class="col text-md-center border rounded d-flex justify-content-center align-items-center">
        <img [src]="producto.urlImage" alt="Imagen del producto" class="img-fluid product-img">
    </div>

    <div class="col datos">
        <app-precio-producto></app-precio-producto>
    </div>
</section>

<section class="descripcion">
    <h1 class="display-6 mb-4 fw-bold text-start">Descripción del producto:</h1>
    <p>{{ producto.description }}</p>
</section>
