.datos{
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.descripcion {
    text-align: justify;
}

.titulo-descripcion {
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .principal {
        display: flex;
        flex-direction: column;
        margin-bottom: 3em;
    }
    .descripcion {
        margin: 0 auto;
        width: 90%;
    }
}
