.cursor-pointer {
    cursor: pointer;
}

.product-name {
    font-size: 20px;
}

@media screen and (max-width: 767px) {
    .product-name {
        font-size: 15px;
    }
}

@media screen and (max-width: 525px) {
    .product-img {
        display: none;
    }

    .quantity {
        margin: 0 15px 0 15px;
    }
}