<th scope="row" class="border-0">
    <div class="py-2 p-md-2 d-flex align-items-center">
        <img src="/assets/img/k512_shiva_rgb.png" alt="" width="70" class="img-fluid rounded shadow-sm product-img">

        <div class="ms-3 d-inline-block align-middle">
            <h5 class="mb-0">
                <a class="text-dark align-middle text-decoration-none">TECLADO REDRAGON SHIVA K512 RGB</a>
            </h5>
            <span class="text-muted font-weight-normal font-italic d-block">Categoría: Teclados</span>
        </div>
    </div>
</th>

<td class="border-0 align-middle"><strong>3</strong></td>
<td class="border-0 align-middle"><strong>$5.500</strong></td>
<td class="border-0 align-middle"><a class="text-dark"><i class="fa fa-trash fa-lg"></i></a></td>