<th scope="row" class="border-0">
    <div class="py-2 p-md-2 d-flex align-items-center">
        <img [src]="product.urlImage" alt="Imagen del producto" width="70" class="rounded shadow-sm product-img">

        <div class="ms-3 d-inline-block align-middle">
            <h5 class="mb-0 product-name">
                <a class="text-dark align-middle text-decoration-none">{{ product.name }}</a>
            </h5>
            <div class="d-flex">
                <span class="text-muted font-weight-normal font-italic d-block me-1">Categoría:</span>
                <span>{{ product.category }}</span>
            </div>
        </div>
    </div>
</th>

<td class="border-0 d-flex align-items-center justify-content-between mt-4 mt-md-4">
    <strong class="text-dark fs-5 cursor-pointer user-select-none" (click)="decrementQty()">-</strong>
    <strong class="quantity">{{ product.quantity }}</strong>
    <strong class="text-dark fs-5 cursor-pointer user-select-none" (click)="incrementQty()">+</strong>
</td>

<td class="border-0 align-middle text-center"><strong>{{ product.totalPrice | currency }}</strong></td>

<td class="border-0 align-middle text-center">
    <a class="text-dark"><i class="fa fa-trash fa-lg cursor-pointer" (click)="removeFromCart()"></i>
    </a>
</td>