<p class="titulo">{{ producto.name }}</p>
<p>Precio por unidad: <span>{{ producto.price | currency }}</span></p>
<p><span>12</span> cuotas de <span>{{ (producto.price / 12) | currency }}</span></p>
<p><a href="https://www.mercadopago.com.ar/ayuda/medios-de-pago-cuotas-promociones_264" target="_blank">Ver Medios de Pago</a></p>
<hr>

<p>Cantidad:</p>
<input type="number" class="form-control" [(ngModel)]="producto.quantity" min="1">
<br>
<button class="btn btn-success mt-3" (click)="addToCart()">AGREGAR AL CARRITO</button>
