<div class="card mt-5" *ngIf="user$ | async as user; else loading">
    <div class="card-body">
        <h3 class="card-title text-center">Gracias por registrarte!</h3>
        <div class="form-group mt-3">
            <p class="text-center">Enviamos una confirmación de registro al E-Mail <strong>{{ user?.email }}</strong></p>
            <p class="text-center">Por favor revisa tu E-Mail y clickea en el link para verificar tu cuenta.</p>
        </div>
        <div class="form-group text-center mt-3">
            <button class="btn btn-primary text-center" (click)="sendVerificationEmail()">
                Reenviar verificación de E-Mail
            </button>
        </div>
    </div>
</div>

<ng-template #loading>
    Cargando...
</ng-template>