<li class="mb-1 hover-bold">
    <a routerLink="/productos/Monitores" routerLinkActive="active" class="nav-link link-dark">Monitores</a>
</li>

<li class="mb-1 hover-bold">
    <a routerLink="/productos/Notebooks" routerLinkActive="active" class="nav-link link-dark">Notebooks</a>
</li>

<li class="mb-1 hover-bold">
    <a routerLink="/productos/Mouses" routerLinkActive="active" class="nav-link link-dark">Mouses</a>
</li>

<li class="mb-1 hover-bold">
    <a routerLink="/productos/Teclados" routerLinkActive="active" class="nav-link link-dark">Teclados</a>
</li>

<li class="mb-1 hover-bold">
    <a routerLink="/productos/Auriculares" routerLinkActive="active" class="nav-link link-dark">Auriculares</a>
</li>