<div class="sidebarTop-container">
    <app-sidebar></app-sidebar>
</div>

<div class="row">
    <div class="sidebarLeft-container col-3 px-5">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-sm-12 col-lg-9 px-5 px-sm-0">
		<div class="text-center mt-5" [hidden]="hideSpinner">
			<div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
				<span class="visually-hidden">Cargando...</span>
			</div>
		</div>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <app-producto [producto]='producto'
            *ngFor="let producto of productos" class="d-flex flex-column"></app-producto>
        </div>
    </div>
</div>

