<form action="#" method="POST" enctype="multipart/form-data">
    <div class="form-group mb-3">
        <label for="name">Nombre:</label>
        <input type="text" id="name" class="form-control" placeholder="Ingrese el nombre del producto" />
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-3">
            <label for="price">Precio:</label>
            <input type="number" id="price" class="form-control" placeholder="Ingrese el precio del producto" />
        </div>
        <div class="form-group col-md-6 mb-3">
            <label for="type">Categoria:</label>
            <select id="type" class="form-control">
                <option selected>Seleccionar</option>
                <option [value]="categoria" *ngFor="let categoria of categorias">{{categoria}}</option>
            </select>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="descripcion">Descripcion:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ingrese la descripcion del producto"></textarea>
    </div>

    <div class="form-group mb-3">
        <label for="urlImage">URL de imagen:</label>
        <input type="text" id="urlImage" class="form-control" placeholder="Ingrese la url del producto" />
    </div>

    <div class="form-group mt-5 text-center">
        <button type="submit" class="btn btn-success mx-auto">Agregar Producto</button>
    </div>
</form>
