.new-product-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

@media screen and (max-width: 1199px) {
    .new-product-container {
        flex-direction: column;
    }
}

@media screen and (max-width: 991px) {
    .new-product-container {
        flex-direction: row;
    }
}