<div class="sidebar-container navbar navbar-expand-lg">
    <button class="btn btn-outline-primary categories-btn mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarProductsContent" aria-controls="navbarProductsContent" aria-expanded="false" aria-label="Toggle navigation">
        <span>Ver Categorías</span>
    </button>

    <div>
        <div class="collapse navbar-collapse" id="navbarProductsContent">
            <ul class="list-unstyled">
                <div class="pb-3 mb-3 border-bottom categories-title">
                    <span class="fs-5 fw-semibold">Categorías</span>
                </div>

                <li class="mb-1 hover-bold">
                    <a routerLink="/productos" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link link-dark">Mostrar todo</a>
                </li>

                <app-sidebar-category></app-sidebar-category>
                <app-sidebar-category></app-sidebar-category>
                <app-sidebar-category></app-sidebar-category>
                <app-sidebar-category></app-sidebar-category>
                
                <li class="border-top my-3"></li>
            </ul>
        </div>
    </div>
</div>