.active {
    font-weight: bold;
    background-color: rgba(0,0,0,.05);
    border-radius: 5px;
}

.hover-bold a:hover {
    font-weight: bold;
}

@media screen and (min-width: 992px) {
    .categories-btn {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .sidebar-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .categories-title {
        display: none;
    }
}