<div class="row">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
        </div>
    </div>
</div>