<div class="sidebarTop-container">
    <app-sidebar></app-sidebar>
</div>

<div class="row">
    <div class="sidebarLeft-container col-3 px-5">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-sm-12 col-lg-9 px-5 px-sm-0">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
            <app-producto></app-producto>
        </div>
    </div>
</div>