.category-btn {
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    height: 150px;
}

.category-btn:hover {
    border: 1px solid #000;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
}