<div class="col">
    <div class="card h-100 mb-3">
        <img src="/assets/img/default-product-image.jpg" class="card-img-top" alt="Imagen del producto">
        <div class="card-body">
            <h5 class="card-title">Titulo de producto</h5>
            <p class="card-text">Breve descripción</p>
            <div class="product-btn-container">
                <a routerLink="/detalle" class="btn btn-outline-primary product-btn">Ver Detalles</a>
                <a href="#" class="btn btn-primary product-btn">Comprar</a>
            </div>
        </div>
    </div>
</div>
