<div class="card col-12 col-lg-6 mx-auto mt-5 py-4 px-0 px-sm-5">
    <div class="card-body pb-2">
        <h3 class="card-title text-center">¿Olvidaste tu contraseña?</h3>
        <div class="form-group mt-3">
            <p class="text-center">
                No te preocupes, podés restablecerla. Ingresa tu E-Mail y hacé click en el enlace que recibiste.
            </p>
        </div>

        <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
            <div>
                <div class="form-group input-group mt-4 mb-2">
                    <span class="input-group-text"> <i class="fa fa-user fa-fw"></i> </span>
                    <input type="email" id="inputEmail" class="form-control" style="height: 40px;" placeholder="E-Mail"  formControlName="email" required>
                </div>
    
                <div *ngIf="forgotPasswordForm.get('email')?.errors && forgotPasswordForm.get('email')?.touched" class="mb-4 text-danger">
                    <div *ngIf="forgotPasswordForm.get('email')?.errors?.required">El campo E-Mail es obligatorio.</div>
                    <div *ngIf="forgotPasswordForm.get('email')?.errors?.pattern">Ingresa un E-Mail válido.</div>
                </div>
            </div>
    
            <div class="form-group text-center mt-4">
                <div class="text-center">
                    <button class="btn btn-primary btn-block" type="submit" [disabled]="forgotPasswordForm.invalid">Restablecer Contraseña</button>
                </div>
            </div>
        </form>
    </div>
</div>