@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 8));
    }
}

.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
    height: 130px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 130px;
    position: absolute;
    width: 150px;
    z-index: 2;
}

.slider::after {
    right: -10px;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: -10px;
    top: 0;
}

.slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 8);
}

.slider .slide {
    height: 130px;
    margin-right: 50px;
}