<section class="my-5">
    <nav class="navbar navbar-light">
        <div class="container-fluid d-flex justify-content-center">
            <form class="d-flex flex-column">
                <p class="fw-bold fs-3 mb-3">Buscá tu producto:</p>
                <div class="d-flex">
                    <input class="form-control me-2" size="80" type="search" placeholder="Buscar producto" aria-label="Buscar producto">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </nav>
</section>

<section class="row text-center my-5">
    <div class="col-12 col-lg-10 mx-auto">
        <div class="row row-cols-1 row-cols-md-3 p-4 p-md-0">
            <div class="col mb-4">
                <div class="card h-100 p-4 pb-0">
                    <div class="img-container">
                        <img src="/assets/img/payment.svg" alt="Icono de tarjeta">
                    </div>

                    <div class="card-body pt-0">
                        <h5 class="card-title mb-3">Pagá con tarjeta o en efectivo</h5>
                        <p class="card-text">Tenés cuotas sin interés con tarjeta o efectivo en el local.</p>
                        <p class="card-text">¡Y siempre es seguro!</p>
                    </div>
                </div>
            </div>
            
            <div class="col mb-4">
                <div class="card h-100 pb-0 p-4">
                    <div class="img-container">
                        <img src="/assets/img/shipping.svg" class="card-img-top" alt="Icono de envio seguro">
                    </div>

                    <div class="card-body pt-0">
                        <h5 class="card-title mb-3">Envío rápido y seguro</h5>
                        <p class="card-text">Elegí tu compra con envíos y seguila hasta que la recibas.</p>
                        <p>Todos tus paquetes estarán protegidos.</p>
                    </div>
                </div>
            </div>

            <div class="col mb-4">
                <div class="card h-100 pb-0 p-4">
                    <div class="img-container">
                        <img src="/assets/img/protected.svg" class="card-img-top" alt="Icono de tarjeta de credito">
                    </div>

                    <div class="card-body pt-0">
                        <h5 class="card-title mb-3">Compra Protegida</h5>
                        <p class="card-text">Te acompañamos hasta que recibas lo que compraste.</p>
                        <p>Y si no es lo que esperabas, te devolvemos el dinero.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="col-12 col-lg-10 mx-auto my-5">
    <div class="m-3 m-sm-0">
        <p class="fw-bold fs-3 mb-3">Encontrá tu producto por categorías:</p>

        <div class="card-group text-center row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
            <div class="col mb-3">
                <a class="card text-decoration-none text-dark category-btn">
                    <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Imagen categoria">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-3">Nombre de categoria</h5>
                    </div>
                </a>
            </div>
    
            <div class="col mb-3">
                <a class="card text-decoration-none text-dark category-btn">
                    <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Imagen categoria">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-3">Nombre de categoria</h5>
                    </div>
                </a>
            </div>
    
            <div class="col mb-3">
                <a class="card text-decoration-none text-dark category-btn">
                    <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Categoria">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-3">Nombre de categoria</h5>
                    </div>
                </a>
            </div>
    
            <div class="col mb-3">
                <a class="card text-decoration-none text-dark category-btn">
                    <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Categoria">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-3">Nombre de categoria</h5>
                    </div>
                </a>
            </div>
    
            <div class="col mb-3">
                <a class="card text-decoration-none text-dark category-btn">
                    <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Imagen categoria">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-3">Nombre de categoria</h5>
                    </div>
                </a>
            </div>
    
            <div class="col mb-3">
                <a class="card text-decoration-none text-dark category-btn">
                    <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Imagen categoria">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-3">Nombre de categoria</h5>
                    </div>
                </a>
            </div>
    
            <div class="col mb-3">
                <a class="card text-decoration-none text-dark category-btn">
                    <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Categoria">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-3">Nombre de categoria</h5>
                    </div>
                </a>
            </div>
    
            <div class="col mb-3">
                <a class="card text-decoration-none text-dark category-btn">
                    <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Categoria">
                    <div class="card-body p-0">
                        <h5 class="card-title mb-3">Nombre de categoria</h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>