<section id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="/assets/img/slider1.jpg" class="d-block w-100" alt="Imagen de slider 1"/>
        </div>
        <div class="carousel-item">
        <img src="/assets/img/slider2.jpg" class="d-block w-100" alt="Imagen de slider 2"/>
        </div>
        <div class="carousel-item">
        <img src="/assets/img/slider3.jpg" class="d-block w-100" alt="Imagen de slider 3"/>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

<section class="my-5">
    <nav class="navbar navbar-light">
        <div class="container-fluid d-flex justify-content-center">
            <form class="d-flex flex-column">
                <p class="fw-bold fs-3 mb-3">Buscá tu producto:</p>
                <div class="d-flex">
                    <input class="form-control me-2" size="80" type="search" placeholder="Buscar producto" aria-label="Buscar producto">
                    <button class="btn btn-outline-primary" type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </nav>
</section>

<section class="row text-center my-5">
    <div class="col-10 mx-auto">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 pb-0 p-4">
                    <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/payment.svg" class="card-img-top w-25 mx-auto h-25" alt="Pagá con tarjeta o en efectivo">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Pagá con tarjeta o en efectivo</h5>
                        <p class="card-text">Tenés cuotas sin interés con tarjeta o efectivo en el local..</p>
                        <p class="card-text">¡Y siempre es seguro!</p>
                    </div>
                </div>
            </div>
            
            <div class="col">
                <div class="card h-100 pb-0 p-4">
                    <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/shipping.svg" class="card-img-top w-25 mx-auto h-25" alt="Pagá con tarjeta o en efectivo">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Envío rápido y seguro</h5>
                        <p class="card-text">Elegí tu compra con envíos y seguila hasta que la recibas.</p>
                        <p>Todos tus paquetes estarán protegidos.</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 pb-0 p-4">
                    <img src="https://http2.mlstatic.com/resources/frontend/homes-korriban/assets/images/ecosystem/protected.svg" class="card-img-top w-25 mx-auto h-25" alt="Pagá con tarjeta o en efectivo">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Compra Protegida</h5>
                        <p class="card-text">Te acompañamos hasta que recibas lo que compraste.</p>
                        <p>Y si no es lo que esperabas, te devolvemos el dinero.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="col-10 mx-auto my-5">
    <p class="fw-bold fs-3 mb-3">Encontrá tu producto por categorías:</p>
    <div class="card-group text-center">
        <a class="card text-decoration-none text-dark">
            <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Imagen categoria">
            <div class="card-body p-0">
                <h5 class="card-title mb-3">Nombre de categoria</h5>
            </div>
        </a>
        <a class="card text-decoration-none text-dark">
            <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Imagen categoria">
            <div class="card-body p-0">
                <h5 class="card-title mb-3">Nombre de categoria</h5>
            </div>
        </a>
        <a class="card text-decoration-none text-dark">
            <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Categoria">
            <div class="card-body p-0">
                <h5 class="card-title mb-3">Nombre de categoria</h5>
            </div>
        </a>
        <a class="card text-decoration-none text-dark">
            <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Categoria">
            <div class="card-body p-0">
                <h5 class="card-title mb-3">Nombre de categoria</h5>
            </div>
        </a>
    </div>

    <div class="card-group text-center">
        <a class="card text-decoration-none text-dark">
            <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Imagen categoria">
            <div class="card-body p-0">
                <h5 class="card-title mb-3">Nombre de categoria</h5>
            </div>
        </a>
        <a class="card text-decoration-none text-dark">
            <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Imagen categoria">
            <div class="card-body p-0">
                <h5 class="card-title mb-3">Nombre de categoria</h5>
            </div>
        </a>
        <a class="card text-decoration-none text-dark">
            <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Categoria">
            <div class="card-body p-0">
                <h5 class="card-title mb-3">Nombre de categoria</h5>
            </div>
        </a>
        <a class="card text-decoration-none text-dark">
            <img src="/assets/img/default-product-image.jpg" class="card-img-top w-25 mx-auto my-4" alt="Categoria">
            <div class="card-body p-0">
                <h5 class="card-title mb-3">Nombre de categoria</h5>
            </div>
        </a>
    </div>
</section>