.img-container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 30%;
}

.category-btn {
    cursor: pointer;

    transition: 0.3s;
}

.category-btn:hover {
    border: 1px solid #000;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.20);
}